@CHARSET "UTF-8";
.navbar-default{
	background-color: #3479b7;
    border-color: #3479b7;
    border-radius: 0;
    color: #fff;
}
.navbar-brand{
color: #fff !important;
}
.align-top{margin-top:10px;}